<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <header>
            <h1>Редактирование профиля</h1>
        </header>
        <form th:action="@{/profile/update}" method="post">
            <label>Email:
                <input type="text" name="email" th:value="${profile.email}" placeholder="Email">
            </label><br/>
            <label>Имя:
                <input type="text" name="firstName" th:value="${profile.firstName}" placeholder="Имя">
            </label><br/>
            <label>Фамилия:
                <input type="text" name="lastName" th:value="${profile.lastName}" placeholder="Фамилия">
            </label><br/>
            <label>Телефон:
                <input type="text" name="phone" th:value="${profile.phone}" placeholder="Телефон">
            </label><br/>
            <button type="submit">Сохранить изменения</button>
            <div class="error" th:if="${error}">[[${error}]]</div>
        </form>

    </div>
</div>

</body>
</html>
