<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Траты пользователя</title>
    <link rel="stylesheet" href="/css/expense.css">
<!--    <link rel="stylesheet" href="/static/css/expense.css">-->
</head>
<body class="wrapper">
<a href="/home" class="back-button">← Назад</a>

<div class="page-header">
    <h1 class="page-title">Ваши траты</h1>
</div>

<div class="expense-container">
    <div class="expense-card">
        <table id="expenseTable">
            <thead>
            <tr>
                <th>Получатель</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/js/expense.js}"></script>
</body>
</html>
