<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
<!--    <link rel="stylesheet" href="/css/style.css">-->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="main-container">

        <aside class="sidebar" id="sidebar">
            <div class="user-info">
                <div class="user-data">
                    <img src="/images/user-icon.png" alt="User Icon" class="avatar">
                    <p class="username"><span id="userName">USERNAME</span></p>
                </div>
                <div class="balance">
                    <img src="/images/balance-icon.png" alt="BalanceIcon" class="balance-ico">
                    <p class="balance-count"><span id="balanceValue">9 999</span> руб.</p>
                </div>
            </div>

            <nav class="menu">
                <ul>
                    <li><a href="/income">Поступления</a></li>
                    <li><a href="/expenses">Расходы</a></li>
                    <li><a href="/transfer">Перевод</a></li>
                    <li><a href="/profile">Профиль</a></li>
                </ul>
            </nav>
        </aside>

        <section class="content">
            <h1>Добро пожаловать в LBank!</h1>
        </section>
    </div>
</div>

<script th:src="@{/js/home.js}"></script>
</body>
</html>
