<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/home.css">
<!--    <link rel="stylesheet" href="/static/css/home.css">-->
</head>
<body>
<div class="wrapper">
    <div class="main-container">

        <aside class="sidebar" id="sidebar">
            <div class="user-info">
                <div class="user-data">
                    <img src="/images/user-icon.png" alt="User Icon" class="avatar">
                    <p class="username"><span id="userName">USERNAME</span></p>
                </div>
                <div class="balance">
                    <img src="/images/balance-icon.png" alt="BalanceIcon" class="balance-ico">
                    <p class="balance-count"><span id="balanceValue">9 999</span> руб.</p>
                </div>
            </div>

            <nav class="menu">
                <ul>
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/income">Поступления</a></li>
                    <li><a href="/expenses">Расходы</a></li>
                    <li><a href="/transfer">Перевод</a></li>
                    <li><button id="logoutBtn" class="logout-button">Выйти</button></li>
                </ul>
            </nav>
        </aside>

        <section class="content">
            <h1 class="content-header">Добро пожаловать в LBank!</h1>
            <h2>Новости нашего банка</h2>
            <div class="news">
                <div class="news-card">
                    <h3 class="news-title">Запуск инновационной мобильной платформы</h3>
                    <p class="news-description">LBank объявил о запуске
                        новой мобильной платформы для управления финансами.
                        Клиенты теперь могут легко контролировать свои счета,
                        осуществлять переводы и планировать бюджет с помощью
                        интуитивно понятного интерфейса. Новая платформа также
                        включает функции аналитики расходов и персонализированные
                        рекомендации для оптимизации финансов.
                    </p>
                </div>

                <div class="news-card">
                    <h3 class="news-title">Представлен новый кредитный продукт</h3>
                    <p class="news-description">В рамках стремления к расширению возможностей
                        для своих клиентов, LBank запустил новый
                        кредитный продукт с гибкими условиями погашения и низкими процентными
                        ставками. Новый кредит предназначен как для покупки недвижимости,
                        так и для финансирования личных проектов, что позволит клиентам банка
                        решать важные задачи в своей жизни без лишних сложностей.
                    </p>
                </div>

                <div class="news-card">
                    <h3 class="news-title">Открытие нового регионального офиса</h3>
                    <p class="news-description">LBank расширяет своё присутствие и открывает новый
                        региональный офис в Новосибирске. Новый офис станет центром
                        обслуживания клиентов в Сибири, предлагая полный спектр банковских услуг,
                        включая кредиты, инвестиционные решения и поддержку малого бизнеса. Открытие
                        офиса подтверждает стремление банка обеспечить удобный доступ к качественным
                        финансовым услугам для жителей региона.
                    </p>
                </div>
            </div>

        </section>
    </div>
</div>

<script th:src="@{/js/home.js}"></script>
</body>
</html>
