<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Домашняя страница</title>
<body>
<header>
    <h1 th:text="'Добро пожаловать, ' + ${userName} + '!'"></h1>
</header>
<section class="balance-section">
    <p>Ваш баланс: <span th:text="${balance}">0</span> руб.</p>
</section>

<nav>
    <ul class="menu">
        <li><a href="/expenses">Траты</a></li>
        <li><a href="/transfer">Перевод</a></li>
        <li><a href="/profile">Профиль</a></li>
    </ul>
</nav>
</body>
</html>