<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Перевод</title>
</head>
<body>
<header>
    <h1>Перевод</h1>
</header>

<div>
    <form id="transferForm">
            <input name="sender" placeholder="Отправитель" required>
            <input name="receiver" placeholder="Получатель" required>
            <input name="amount" placeholder="Сумма" required>
            <button type="submit">Отправить перевод</button>
        </form>
    <div id="resultBlock"></div>
</div>

<script th:src="@{/js/transfer.js}"></script>

</body>
</html>