<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <div class="card">
        <img src="/images/Logo.png" alt="Логотип">
        <h2>Вход</h2>

        <form id="loginForm">
            <input type="text" name="userName" placeholder="Имя пользователя" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
            <button type="button" onclick="window.location.href='/register'">Регистрация</button>
        </form>
        <div class="error" id="loginError"></div>
    </div>
</div>

<script th:src="@{/js/login.js}"></script>
</body>
</html>
