<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header class="header">
</header>

<div class="container">
    <div class="card">
        <h2>Регистрация</h2>
        <form id="registerForm">
            <input type="text" name="userName" placeholder="Имя пользователя" required>
            <input type="password" name="password" placeholder="Введите пароль" required>
            <input type="password" name="re-password" placeholder="Повторите пароль" required>
            <button type="submit">Зарегистрироваться</button>
            <button type="button" onclick="window.location.href='/login'">Войти</button>
        </form>
        <div class="error-message" id="registerError"></div>
    </div>
</div>

<script th:src="@{/js/register.js}"></script>
</body>
</html>
